body {
  --primary: #631d76;
  --secondary: #9e4770;
  --white: #fbfbfb;
  --dark: #2e2532;
  --black: #201a23;
}

.navbar ul.social {
  display: flex;
}
.navbar ul.social li {
  margin-right: 20px;
  text-decoration: none;
}
.navbar ul.social li a {
  color: var(--white);
}

.banner {
  margin: 50px;
}

.columns.products {
  flex-wrap: wrap;
}

.navbar-bottom.navbar {
  align-items: center;
}

.navbar-top.navbar {
  background-color: var(--primary);
}

.navbar-buttons {
  display: flex;
}

.navbar-top .container.navbar-container,
.navbar-bottom .container.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 5%;
  align-items: center;
}

.admin > div.container {
  margin: 40px 10%;
}

.admin .control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin table {
  width: 100%;
}

.admin table th:first-of-type {
  width: 50%;
}
.admin table td:first-of-type {
  width: 50%;
}

.admin table td {
  vertical-align: middle;
}
